---
language: python
sudo: false
env:
  global:
  - NETWORK_ENV=demo
  - ROLE=travis
  - TEAM=platform
install:
- pip install -r requirements.txt
- make deps
- cp -v .null_module library/docker_pull
before_script:
- git config --global user.name Travis
- git config --global user.email travis@example.org
script:
- ansible-playbook -i 127.0.0.1, -c local -s
    -e ssh_user=travis
    -e hostname=travis-tmp-host.demo.modcloth.com
    -e location=/home/travis/rsyslog.d
    -vvvv
    ./example.yml
