#!/usr/bin/env bash
# {{ ansible_managed }}
set -e

docker stop {{ modcloth_app_name }} || true
docker rm -f {{ modcloth_app_name }} || true

exec run-one docker run \
  --env-file /etc/default/{{ modcloth_app_name }} \
  --name {{ modcloth_app_name }} \
  --rm \
  {{ modcloth_app_docker_repo }}:{{ modcloth_app_docker_tag }} \
  {{ modcloth_app_docker_command }} \
  >> /var/log/{{ modcloth_app_name }}.log \
  2>> /var/log/{{ modcloth_app_name }}.err
