# vim:filetype=upstart
# {{ ansible_managed }}

description "{{ modcloth_app_name }}"

start on (filesystem or runlevel [2345]) and started docker {{ modcloth_app_upstart_start_condition }}
stop on runlevel [!2345]

respawn
respawn limit 3 30

script
  {% for volume in modcloth_app_docker_volumes -%}
  {% if volume.directory is defined and volume.directory %} mkdir -p {{ volume.host }} {% endif %}
  {% endfor -%}

  docker stop {{ modcloth_app_name }} >/dev/null 2>&1 || true
  docker rm -f {{ modcloth_app_name }} >/dev/null 2>&1 || true

  docker run --rm \
    {% if modcloth_app_docker_port is number -%}
    -p {{ modcloth_app_docker_port }}:{{ modcloth_app_docker_port }} \
    {% elif modcloth_app_docker_port is iterable -%}
    {% for port in modcloth_app_docker_port -%}
    -p {{ port.ip | default("") }}{% if port.ip is defined %}:{% endif %}{{ port.host | default("") }}{% if port.host is defined %}:{% endif %}{{ port.container }} \
    {% endfor -%}
    {% endif -%}
    {% for link in modcloth_app_docker_link -%}
    --link {{ link.name }}:{{ link.alias | default(link.name) }} \
    {% endfor -%}
    --hostname "$(hostname)" \
    --env-file /etc/default/{{ modcloth_app_name }} \
    --name {{ modcloth_app_name }} \
    {% for volume in modcloth_app_docker_volumes -%}
    -v {{ volume.host }}:{{ volume.container }}:{{ volume.permissions | default("rw") }} \
    {% endfor -%}
    {{ modcloth_app_docker_repo }}:{{ modcloth_app_docker_tag }} {{ modcloth_app_docker_command }}

end script
